table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

strong {
    font-weight: bold;
    color: #ff0000;
}

.flash {
    font-weight: bold
}
.flash.error {
    color: #ff0000;
}
.flash.warning {
    color: #ff7700;
}
.flash.success {
    color: #008800;
}
